.tag-list .tag-guide {
	background-color: lighten(#f00, 30%);
}

.tag-list .tag-linux {
	background-color: lighten(#00f, 30%);
}

.tag-list .tag-ssh,
.tag-list .tag-shell,
.tag-list .tag-rsync,
.tag-list .tag-gnome-screenshot,
.tag-list .tag-xclip,
.tag-list .tag-upstart,
.tag-list .tag-nginx {
	background-color: lighten(#0f0, 30%);
}
